@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .sidebar-item {
    @apply cursor-pointer py-2 px-4 text-white font-semibold rounded-lg shadow-md bg-blue-700 hover:bg-blue-600;
  }

  .center {
    @apply flex items-center justify-center gap-2
  }
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
}

body {
  color: white;
  background: #151718;
}